#!/bin/bash
ORACLE_SID="{{ oracle_sid }}"
ORACLE_BASE="{{ oracle_base }}"
ORACLE_HOME="{{ oracle_home }}"
PATH="{{ oracle_home }}/bin:${PATH}"
LD_LIBRARY_PATH="{{ oracle_home }}/lib:${LD_LIBRARY_PATH}"
ORAENV_ASK="NO"
export ORACLE_SID ORACLE_BASE ORACLE_HOME ORAENV_ASK LD_LIBRARY_PATH PATH
. oraenv >/dev/null
dgmgrl -silent "{{ lookup{'ansible.builtin.env', 'ANS_ORACLE_USER') | quote }}/" "{{ dgmgrl_command }}"
